body {
  color: #201b2d;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  background: rgb(77, 190, 254);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(77, 190, 254)), color-stop(100%, rgb(55, 143, 217)));
  background: linear-gradient(135deg, rgb(77, 190, 254) 0%, rgb(55, 143, 217) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#4dbefe", endColorstr="#378fd9", GradientType=1 );
}

.logo {
  margin: 60px 0 0 0;
}

.wrp {
  display: flex;
  justify-content: space-between;
  padding-bottom: 140px;
  color: #ffffff;
  margin-top: 0;
}
.wrp .offer {
  padding-top: 130px;
}
.wrp .offer .offer-title {
  font-size: 37px;
  font-weight: 700;
  width: 560px;
  margin-top: 0;
  margin-bottom: 35px;
}
.wrp .offer .offer-title span {
  font-size: 59px;
}
.wrp .offer p {
  width: 395px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
  margin-bottom: 40px;
  margin-top: 0;
}

.btn {
  color: #201b2d;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  display: inline-block;
  background-color: #ffd429;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.btn:hover {
  background-color: #f6ff00;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.future {
  text-align: center;
  padding: 100px 0 120px 0;
}
.future .future-list {
  list-style-type: none;
  padding-left: 0;
  margin: 70px 0 0 0;
  display: flex;
}
.future .future-list .future-item {
  width: 290px;
}
.future .future-list .future-item:nth-child(2) {
  margin: 0 165px 0 165px;
}
.future .future-list .future-item:nth-child(3) {
  width: 300px;
}
.future .future-list .future-item .future-title {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 15px;
}
.future .future-list .future-item .future-desc {
  margin: 0 0 0 0;
  line-height: 1.6em;
}

.data {
  background-color: #ecf3f8;
  text-align: center;
  padding: 100px 0;
}
.data h2 {
  margin-bottom: 50px;
}
.data input {
  font-size: 15px;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  width: 310px;
  height: 45px;
  margin-bottom: 15px;
  padding-left: 25px;
  border: 2px solid #d0d0d0;
  border-radius: 4px;
}
.data input:focus {
  box-shadow: 2px 2px 20px #74c6f9;
}
.data .form .btn-sub {
  width: 340px;
  border: 0;
}

.footer {
  background-color: #164d7a;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 55px 0;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }

  .logo {
    margin: 30px 0 0 0;
  }

  .wrp {
    flex-direction: column;
    padding-bottom: 0;
    width: 100%;
  }
  .wrp .offer {
    width: 100%;
    padding: 40px 0 0 0;
    text-align: center;
  }
  .wrp .offer .offer-title {
    display: inline-block;
  }
  .wrp .offer p {
    margin: 0 auto 50px;
  }
  .wrp .desktop {
    display: block;
    width: auto;
    margin: 30px auto 0;
  }

  .footer {
    padding: 40px 0;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }

  .future .future-list .future-item:nth-child(2) {
    margin: 0 155px 0 155px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }

  .wrp .desktop {
    width: 540px;
  }
  .wrp .offer .offer-title {
    font-size: 33px;
    width: auto;
  }
  .wrp .offer .offer-title span {
    font-size: 50px;
  }

  .future {
    padding: 10px 0 10px 0;
  }
  .future .future-list {
    flex-direction: column;
    -moz-text-align-last: left;
         text-align-last: left;
  }
  .future .future-list .future-item {
    width: 90%;
    margin-bottom: 25px;
  }
  .future .future-list .future-item:nth-child(2) {
    margin: 0 0 25px 0;
  }
  .future .future-list .future-item:last-child {
    width: 100%;
  }

  .data {
    padding: 15px 0 40px 0;
  }

  .footer {
    padding: 20px 0;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .wrp .offer {
    padding: 20px 0 0 0;
  }
  .wrp .offer .offer-title {
    font-size: 20px;
    width: auto;
    margin-bottom: 20px;
  }
  .wrp .offer .offer-title span {
    font-size: 35px;
  }
  .wrp .offer p {
    margin-bottom: 20px;
    width: 90%;
    font-size: 10px;
  }
  .wrp .desktop {
    width: 300px;
  }

  .future .future-list {
    margin: 50px 0 0 0;
  }
  .future .future-list .future-item {
    -moz-text-align-last: left;
         text-align-last: left;
  }

  .title {
    font-size: 20px;
  }

  .data input {
    width: 87.5%;
    padding-left: 5px;
  }
  .data .form .btn-sub {
    width: 90%;
    padding-left: 35px;
    padding-right: 35px;
  }

  .footer {
    font-size: 10px;
    padding: 0 auto;
  }
  .footer .credits {
    margin: 0 auto;
  }
}
@media screen and (max-width: 320px) {
  .container {
    width: auto;
  }

  .logo {
    margin-top: 15px;
  }

  .wrp .desktop {
    width: 200px;
  }
  .wrp .offer .offer-title span {
    font-size: 25px;
  }
}/*# sourceMappingURL=main.css.map */